@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");
/* @import "~video-react/styles/scss/video-react"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
